<h1><%= I18n.t('.comments.title_listing_comments') %></h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to I18n.t('.translation.link_to_show'), comment %></td>
        <td><%= link_to I18n.t('.translation.link_to_edit'), edit_comment_path(comment) %></td>
        <td><%= link_to I18n.t('.translation.link_to_destroy'), comment, method: :delete, data: { confirm: I18n.t('.translation.alert_destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('.comments.link_to_new_comment'), new_comment_path %>
