<% if Camera.count != 0 %>
  <% if session[:id_camera] == nil %>
    <% session[:id_camera] = 1 %>
  <% end %>
  <% @current_camera = Camera.find(session[:id_camera]) %>
  <div class="slider-wrapper" id="camPanel">
    <h4><%= @current_camera.name %></h4>
    <%= @current_camera.address.html_safe %>
    <p class="description">
      <b>Description:</b><br />
      <%= @current_camera.description %>
    </p>
  </div>
<% else %>
  <div class="slider-wrapper" id="camPanel">
    <h4>BugBroBrazil welcome!!!</h4>
    <!--<h4><%#= I18n.t('.index.no_camera') %></h4>-->
    <div class="cam" style="opacity: 1;">
    <!--<div class="cam">-->
      <iframe width="770" height="367" src="//www.youtube.com/embed/knrcMLzAPW8" frameborder="0" allowfullscreen></iframe>
      <!--<h5><%#= I18n.t('.index.no_camera_to_show') %></h5>-->
    </div>
    <p class="description">
      <b><%= I18n.t('.index.description') %>:</b><br />
      <%= I18n.t('.index.description_text') %>
    </p>
  </div>
<% end %>