<div class="devise-login">
  <div class="formContainer">
    <p><%= t(".instruction") %></p>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "well" }) do |f| %>
      <%= f.email_field :email, id: "email", class: "hidden", value: t("activerecord.attributes.user.email") %>
      <%= f.email_field :email, :placeholder => t("activerecord.attributes.user.email") %>

      <%= f.email_field :password, id: "password", class: "hidden", value: t("activerecord.attributes.user.password") %>
      <%= f.password_field :password, :placeholder => t("activerecord.attributes.user.password") %>

      <div class="remember">
        <% if devise_mapping.rememberable? -%>
          <%= f.label :remember_me, class: "checkbox" do %>
            <%= f.check_box :remember_me %> <%= User.human_attribute_name(:remember_me) %>
          <% end %>
        <% end -%>
      </div>

      <div class="controls">
        <%= f.submit t(".submit"), class: "button" %>
      </div>
    <% end %>

    <div class="providers">
      <div class="providers-group"><%= render "devise/shared/providers" %></div>
    </div>
  </div>

  <div class="shared">
    <%= render "devise/shared/links" %>
  </div>
</div>
