<%= form_for(@camera) do |f| %>
  <% if @camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

      <ul>
      <% @camera.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= I18n.t('.cameras.label_name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= I18n.t('.cameras.label_host') %><br>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= I18n.t('.cameras.label_port') %><br>
    <%= f.text_field :port %>
  </div>
  <div class="field">
    <%= I18n.t('.cameras.label_camera_user') %><br>
    <%= f.text_field :camera_user %>
  </div>
  <div class="field">
    <%= I18n.t('.cameras.label_camera_password') %><br>
    <%= f.text_field :camera_user_password %>
  </div>
  <div class="field">
    <%= I18n.t('.cameras.lanel_description') %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
