<h1><%= I18n.t('.cameras.title_listing_cameras') %></h1>

<table>
  <thead>
    <tr>
      <th><%= I18n.t('.cameras.label_name') %></th>
      <th><%= I18n.t('.cameras.label_host') %></th>
      <th><%= I18n.t('.cameras.label_port') %></th>
      <th><%= I18n.t('.cameras.label_camera_user') %></th>
      <th><%= I18n.t('.cameras.label_camera_password') %></th>
      <th><%= I18n.t('.cameras.lanel_description') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><%= camera.name %></td>
        <td><%= camera.host %></td>
        <td><%= camera.port %></td>
        <td><%= camera.camera_user %></td>
        <td><%= camera.camera_user_password %></td>
        <td><%= camera.description %></td>
        <td><%= link_to I18n.t('.cameras.link_to_show'), camera %></td>
        <td><%= link_to I18n.t('.cameras.link_to_edit'), edit_camera_path(camera) %></td>
        <td><%= link_to I18n.t('.cameras.link_to_destroy'), camera, method: :delete, data: { confirm: I18n.t('.cameras.alert_destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to I18n.t('.cameras.link_to_new_camera'), new_camera_path %>
