<h1>Listing cameras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Host</th>
      <th>Port</th>
      <th>Camera user</th>
      <th>Camera user password</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><%= camera.name %></td>
        <td><%= camera.host %></td>
        <td><%= camera.port %></td>
        <td><%= camera.camera_user %></td>
        <td><%= camera.camera_user_password %></td>
        <td><%= camera.description %></td>
        <td><%= link_to 'Show', camera %></td>
        <td><%= link_to 'Edit', edit_camera_path(camera) %></td>
        <td><%= link_to 'Destroy', camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camera', new_camera_path %>
