<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('.cameras.label_name') %>:</strong>
  <%= @camera.name %>
</p>

<p>
  <strong><%= I18n.t('.cameras.label_host') %>:</strong>
  <%= @camera.host %>
</p>

<p>
  <strong><%= I18n.t('.cameras.label_port') %>:</strong>
  <%= @camera.port %>
</p>

<p>
  <strong><%= I18n.t('.cameras.label_camera_user') %>:</strong>
  <%= @camera.camera_user %>
</p>

<p>
  <strong><%= I18n.t('.cameras.label_camera_password') %>:</strong>
  <%= @camera.camera_user_password %>
</p>

<p>
  <strong><%= I18n.t('.cameras.lanel_description') %>:</strong>
  <%= @camera.description %>
</p>

<%= link_to I18n.t('.translation.link_to_edit'), edit_camera_path(@camera) %> |
<%= link_to I18n.t('.translation.link_to_back'), cameras_path %>
