<!DOCTYPE html>
<html>
  <head>
    <title>Bug Brother Brazil</title>
    <%= stylesheet_link_tag    'application', 'color', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag '/favicon.ico?v=2' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-bg">
      <div class="bg">
        <!--==============================header=================================-->
        <header>
          <div class="main">
            <div class="wrapper">
              <h1><%= link_to 'Bug Brother Brazil', root_path %></h1>
            </div>
            <div class="login">
              <%= render 'home/login' %>
              <%= render 'home/set_language' %>
            </div>
            <nav>
              <%= render 'home/menu' %>
            </nav>
            <% if current_page?('/') %>
              <%= render 'home/camera_panel' %>
            <% end %>
          </div>
        </header>
        <!--==============================content================================-->
        <section id="content">
          <div class="main">
            <div class="container_top">
              <div class="container_bot">
                <div class="container_mid">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--==============================footer=================================-->
        <footer>
          <div class="main">
            <sub>
              <%=  I18n.t('.translation.hosted_by') %>
              <%= link_to 'Heroku', 'https://www.heroku.com/', :target => '_blanck', :style => 'color: #666;' %> |
              <%=  I18n.t('.translation.technology') %>
              Ruby on Rails<br />
              <%=  I18n.t('.translation.developed_by') %>
              Diogo de Lima<br />
              <span>Bug Brother Brazil &copy; <%= Time.now.year %></span>
            </sub>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
